# === TELEGRAM ===
TG_BOT_TOKEN=your_bot_token_here
TG_GROUP_ID=-1001234567890

# === TOPICS (ticker_timeframe=thread_id) ===
TOPIC_SiM6_15MIN=5
TOPIC_BRK6_15MIN=6
TOPIC_CCJ6_15MIN=7
TOPIC_NGK6_15MIN=8
TOPIC_KCJ6_15MIN=9
TOPIC_GDM6_15MIN=1219
TOPIC_SVM6_15MIN=1227


TOPIC_SiM6_30MIN=136
TOPIC_BRK6_30MIN=134
TOPIC_CCJ6_30MIN=128
TOPIC_NGK6_30MIN=126
TOPIC_KCJ6_30MIN=130
TOPIC_GDM6_30MIN=1222
TOPIC_SVM6_30MIN=1230



# === SCANNER DEFAULTS ===
DEFAULT_LONG_BODY_COEFF=1.3
DEFAULT_SHORT_BODY_COEFF=0.5
DEFAULT_SHADOW_LIMIT=0.1
DEFAULT_RSI_PERIOD=14
DEFAULT_RSI_OVERSOLD=30
DEFAULT_RSI_OVERBOUGHT=70